{% assign strategyId = '' %}
{% if slot.hit_strategycycle %}
  {% assign strategyId = slot.hit_strategycycle.id %}
{% endif %}

{% fetchxml principles %}
<fetch>
  <entity name="hit_strategyprinciple">
    <attribute name="hit_statement" />
    <attribute name="hit_sortorder" />
    <filter>
      <condition attribute="hit_strategycycle"
                 operator="eq"
                 value="{{ strategyId }}" />
      <condition attribute="hit_principletype"
                 operator="eq"
                 value="815390001" />
    </filter>
    <order attribute="hit_sortorder" />
  </entity>
</fetch>
{% endfetchxml %}

{% assign items = principles.results.entities %}

<section class="strategy-belief">
  <h3>Purpose</h3>

  {% for p in items %}
    <p>{{ p.hit_statement }}</p>
  {% endfor %}
</section>